@model WebAppPeliculas.Models.Pelicula

@{
    ViewData["Title"] = "Nueva Película";
}

<h1>Agregar Película</h1>

<hr />
<form asp-action="Create" enctype="multipart/form-data" method="post">
    <div class="form-row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group col-md-6 ">
            <label asp-for="Titulo" class="control-label"></label>
            <input asp-for="Titulo" class="form-control" />
            <span asp-validation-for="Titulo" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="FechaEstreno" class="control-label"></label>
            <input asp-for="FechaEstreno" class="form-control" type="date"/>
            <span asp-validation-for="FechaEstreno" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-1">
            <label asp-for="Cartelera" class="control-label"></label>
            <input asp-for="Cartelera" class="form-control" type="checkbox" />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="GeneroId" class="control-label"></label>
            <select asp-for="GeneroId" class="form-control" asp-items="ViewBag.GeneroId">
                <option value="">Todos</option>
            </select>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Trailer" class="control-label"></label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">Link Embed</div>
                </div>
                <input asp-for="Trailer" class="form-control" />
            </div>
            <span asp-validation-for="Trailer" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="FotoCartel" class="cotrol-label"></label>
            <img src="" id="image" alt="Imágen seleccionada" height="300" width="247" asp-append-version="true" />
            <input asp-for="FotoCartel" type="file" id="img" class="form-control">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label asp-for="Resumen" class="control-label"></label>
            <textarea asp-for="Resumen" class="form-control" rows="4"></textarea>
            <span asp-validation-for="Resumen" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Guardar Cambios" class="btn btn-success btn-lg btn-block" />
    </div>
</form>
<div class="form-group">
    <a class="btn btn-info btn-lg btn-block" asp-action="Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="~/js/images.js"></script>