@model WebAppPeliculas.Models.Pelicula

@{
    ViewData["Title"] = "Eliminar Película";
}

<h1>
    Eliminar
    <span></span>
    @Html.DisplayFor(model => model.Titulo)
    <span></span>
    (@Html.DisplayFor(model => model.FechaEstreno.Year))
</h1><br />

<div>
    <img src="~/images/peliculas/@Model.FotoCartel" height="300" width="247" asp-append-version="true" />
</div><br />

<h3>Está seguro de esto?</h3><br />
<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        <a class="btn btn-primary" asp-action="Index">Cancelar</a>
    </form>
</div>
