@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">TP Final Laboratorio de Computación IV</h1>
    <h1 class="display-4">WebApp de Películas</h1> 
    <h2 class="display-4">.Net Core - EntityFramework</h2>
    <p>Repositorio: <a href="#"></a>.</p>
</div>
